<div class="card card-stats">
  <div class="card-body">
    <div class="row">
      <div class="col-5 col-md-4">
        <div [className]="thing.status ? 'text-warning' : ''">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-bulb-63"></i>
          </div>
        </div>
      </div>
      <div class="col-7 col-md-8">
        <div class="numbers">
          <p class="card-category">
            {{ thing.name }}
          </p>
        </div>
        <div
          *ngFor="let control of thing.controls_formated; let iControl = index"
          style="text-align: right;"
        >
          <div *ngIf="control !== 'BRIGHTNESS'" (click)="fireControl(iControl)">
            <i class="nc-icon nc-send text-warning"></i>
            {{ control }}<br />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div
          *ngFor="let control of thing.controls_formated; let iControl = index"
          style="text-align: right;"
        >
          <div *ngIf="control === 'BRIGHTNESS'">
            <mat-slider
              min="0"
              max="100"
              step="1"
              value="0"
              (input)="slideChange($event, iControl)"
            ></mat-slider>
            {{ control }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <hr />
    <div class="stats">
      <i class="fa fa-refresh"></i>
      {{ thing.lastUpdateText }}
    </div>
  </div>
</div>
