version: "3.6"
services:
    app-ui:
        # build:
        #     context: ../app-ui
        container_name: app-ui
        image: datacentricdesign/connected-home-app-ui:release-0.0.6
        ports:
         - "${port-app-ui}:80"
        environment:
         - NGINX_HOST=localhost
         - NGINX_PORT=80
    api:
        # build:
        #     context: ../api
        container_name: api
        image: datacentricdesign/connected-home-api:release-0.0.6
        ports:
            - "${port-api}:80"
