<div class="row" *ngIf="things$ | async as things; else noData">
  <div
    class="col-lg-3 col-md-6 col-sm-6"
    *ngFor="let thing of things; let iThing = index"
  >
    <div *ngIf="thing.type === 'Light'">
      <light-cmp [thing]="thing"></light-cmp>
    </div>
    <div *ngIf="thing.type === 'Switch'">
      <switch-cmp [thing]="thing"></switch-cmp>
    </div>
    <div *ngIf="thing.type === 'Dimmer'">
      <dimmer-cmp [thing]="thing"></dimmer-cmp>
    </div>
    <div *ngIf="thing.type === 'DimmableLight'">
      <dimmable-cmp [thing]="thing"></dimmable-cmp>
    </div>
    <div *ngIf="thing.type === 'ColoredLight'">
      <colored-light-cmp [thing]="thing"></colored-light-cmp>
    </div>
    <div *ngIf="thing.type === 'MotionSensor'">
      <motion-sensor-cmp [thing]="thing"></motion-sensor-cmp>
    </div>
    <div *ngIf="thing.type === 'ClimateSensor'">
      <climate-sensor-cmp [thing]="thing"></climate-sensor-cmp>
    </div>
    <div *ngIf="thing.type === 'Lock'">
      <lock-cmp [thing]="thing"></lock-cmp>
    </div>
  </div>
</div>

<ng-template #noData>No Data Available</ng-template>
